<div class="container main">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>{{title}}</h1>
            <p>{{content}}</p>
            <div class="passage">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non quam elementum, suscipit velit vitae, dictum purus. Praesent ultricies euismod odio, id maximus metus malesuada ut. Proin quis accumsan urna. Donec nec vehicula arcu, sed consectetur mauris. Cras sit amet imperdiet ante. Ut sit amet consectetur ex. Duis eget tellus vel nunc vulputate euismod vel sit amet nisi. Cras viverra diam maximus iaculis sodales. Sed suscipit, metus id placerat fermentum, urna nunc scelerisque est, nec egestas magna erat sed sem. Aliquam nec eros lacinia, efficitur neque in, rhoncus sem. Mauris faucibus sem magna, vitae interdum odio hendrerit at. Morbi congue bibendum massa id imperdiet. Curabitur sit amet pharetra justo. Donec consectetur arcu quis ligula cursus posuere. Morbi facilisis rhoncus nisl eu cursus. Morbi rutrum iaculis leo at vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eleifend massa quis mi imperdiet efficitur. Maecenas eleifend scelerisque mattis. Vestibulum faucibus tempus mauris, sed tempus quam tincidunt quis. Pellentesque turpis turpis, mollis ut maximus et, volutpat nec libero. Fusce in velit neque. Integer porta aliquam elit ac efficitur. Vestibulum dictum, ligula vitae tincidunt gravida, tortor magna tempor ligula, sed elementum ante nisi accumsan arcu. Duis sapien enim, congue id nulla ut, dapibus ornare ligula. Vestibulum et nisl arcu. Quisque pharetra elit sed arcu faucibus, ut faucibus neque posuere. Fusce non consequat mauris. Curabitur ac iaculis ligula. Integer orci massa, fringilla at ex eget, aliquet sagittis nisi.
                </p>
            </div>
            <div class="button-menu">
                <p> Generate POV </p>
            </div>
            <button class="jon btn btn-default btn-lg">Jon Snow</button>
            <button class="davos btn btn-default btn-lg">Davos Seaworth</button>
            <button class="arya btn btn-default btn-lg">Arya Stark</button>
            <div class="created-by"> Created by Michael Lee</div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
