body {
    font: 14px 'Source Code Pro', Space Mono, Helvetica, Arial, sans-serif;
    color: #ffffff;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    color: #00B7FF;
}

h1 {
    font: 4em 'Fira Mono';
}

p {
    font-size: 1em;
}

.passage {
    border: 3px solid #555e78;
    box-shadow: 0 0 3px 2px #555e78;
    padding: 35px;
    margin: 60px;
    text-align: left;
    background-color: rgba(25, 25, 25, 0.2);
    letter-spacing: 1.5px;
}

.container {
    padding-top: 60px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #4A5269;
    overflow-y: scroll;
}

.main {
    background-color: #4A5269;
}

.row {
    padding: 0;
    margin: 0;
}

.button-menu {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.created-by {
    padding: 30px 0;
}
